<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
          <input matInput name="email" ngModel placeholder="Adresse courriel" #emailInput='ngModel' required email>
          <mat-error *ngIf="emailInput.invalid">Entrez votre adresse courriel.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input name='password' ngModel matInput placeholder="Mot de passe" #passwordInput='ngModel' required>
        <mat-error *ngIf="passwordInput.invalid">Entrez votre mot de passe.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Se connecter</button>
  </form>
</mat-card>
